/node_modules/
.DS_Store
/www/app.js
/www/index.html

/app/platforms/ios/www/

/env/index.js

/app/platforms/android/gen/

/app/platforms/android/bin/

/app/platforms/android/ant-build/
/app/platforms/android/ant-gen/

/app/platforms/android/ant.properties

/app/platforms/android/CordovaLib/ant-build/
/app/platforms/android/CordovaLib/ant-gen/
/app/platforms/android/CordovaLib/bin/

/app/platforms/android/CordovaLib/gen/

/app/platforms/android/assets/www/**

!.gitkeep

/app/config.xml
