<?xml version='1.0' encoding='utf-8'?>
<widget id="com.42loops.zanimo" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>zanimo.js</name>
    <description>
       The Zanimo.js editor
    </description>
    <author email="paul@42loops.com" href="http://42loops.com">
        Paul Panserrieu
    </author>
    <preference name="AllowInlineMediaPlayback" value="false" />
    <preference name="BackupWebStorage" value="cloud" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="EnableViewportScale" value="false" />
    <preference name="KeyboardDisplayRequiresUserAction" value="false" />
    <preference name="MediaPlaybackRequiresUserAction" value="false" />
    <preference name="SuppressesIncrementalRendering" value="false" />
    <preference name="TopActivityIndicator" value="gray" />
    <preference name="GapBetweenPages" value="0" />
    <preference name="PageLength" value="0" />
    <preference name="PaginationBreakingMode" value="page" />
    <preference name="PaginationMode" value="unpaginated" />
    <preference name="StatusBarOverlaysWebView" value="false"/>
    <preference name="StatusBarBackgroundColor" value="#76BDFF"/>
    <content src="index.html" />
    <access origin="*" />

    <feature name="LocalStorage">
        <param name="ios-package" value="CDVLocalStorage" />
    </feature>
    <feature name="StatusBar">
        <param name="ios-package" value="CDVStatusBar" onload="true" />
    </feature>
    <feature name="SplashScreen">
        <param name="ios-package" value="CDVSplashScreen" onload="true" />
    </feature>
    <feature name="Device">
        <param name="ios-package" value="CDVDevice" onload="true" />
    </feature>
    <feature name="NetworkStatus">
        <param name="ios-package" value="CDVConnection" onload="true" />
    </feature>
    <feature name="Console">
        <param name="ios-package" value="CDVLogger" onload="true" />
    </feature>
</widget>
